*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 25px;
    color: blue;
}
p{
    text-align: justify;
    color: purple;
}
.para{
    text-align: justify;
    padding: 50px;
    color: green;
}